doctype html
html(lang="en")
  head
    title= title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Cache-Control" content="max-age=2592000")
    meta(name='theme-color' content='#11111b')

    link(rel='stylesheet' href='./css/main.css')
    link(rel='stylesheet' href='./fonts/fonts.min.css')
    
    <!--[if IE]-->
      <!-- link(rel='shortcut icon' href='./images/logo/Civics.ico') -->
    <!--<![endif]-->
    
    link(rel='icon' href='./images/logo/Civics.png' sizes='57x57' type='image/png')
    link(rel='icon' href='./images/logo/Civics.svg' sizes='any' type='image/svg+xml')
    link(rel='shortcut icon' href='./images/logo/Civics.png' type='image/x-icon')
    link(rel='icon' href='./images/logo/Civics.png' sizes='16x16' type='image/png')

    each style in css
      link(rel='stylesheet' href=style)
  body
    include ../components/header.pug
    main.main
      block content
    include ../components/footer.pug
      
  script(src='./js/rye.min.js')
  script(src='./js/main.js')
  script.
    var navigator=window.navigator;"serviceWorker"in navigator?navigator.serviceWorker.getRegistrations().then(function(e){0==e.length&&navigator.serviceWorker.register("./sw.min.js").then(function(e){console.log("[Service Worker] registration successful with scope: ",e.scope),e.installing?console.log("[Service Worker] installing"):e.waiting?console.log("[Service Worker] installed"):e.active&&console.log("[Service Worker] active")}).catch(function(e){console.error("[Service Worker] registration failed: ",e)})}):console.log("No Service Worker's or App Cache Support");
  each scripts in js
    script(src=scripts)
